.mobFullpgloader{display: block;margin: auto;position: absolute; !important; background: #fff url("/images/mobile/spiffygif_82x82.gif") no-repeat center center;background-size: 41px; z-index: 9999;text-align: center;}
header .withsearch .logo{width:49%;}
.nopadding{padding: 0px !important;}
.noborder{border:none !important;}
.noborderrad{border-radius:0 !important;}
.blBorder{border: 1px solid #000 !important;}
.nomargin{margin: 0px !important;}
.fullwidth{width: 100% !important}
.dBlock{display: block;}
.dInlBlock{display: inline-block;}
.colorblack{color: #000;}

.fromBox .textBox {font-size: 1.08em;line-height: 1.3em;color: #000;padding: 4%;width: 92%;border: 1px solid #000;border-radius: .22em;margin-bottom: 1.06em;font-family: "Avenir";}
.hotelsHomeCont .loadMore .prevIcon{width: 2.00em;position: absolute;left: 2%;top: 10%;}
.hotelsHomeCont.borderbottom{border-bottom: 1px solid #b2adad;}
.hotelsHomeCont .heading.withline{position: relative;text-align: center;padding: 7% 2.5%;box-sizing: border-box;margin: 6% 0 0 0;}
.hotelsHomeCont .heading.withline:before{content: '';display: block; width: 60%; background: #dfdfdf;height: 1px;position: absolute;top: 0;left: 0;right: 0;margin: auto;}
.hotelsHomeCont .heading.withline span.line{height: 0.110em;background: #000;width: 95%;display: block;position: absolute;top: 50%;z-index: 0;box-sizing: border-box;}
.hotelsHomeCont .heading.withline span.text{font-size: 1.2em;display: inline-block;margin: auto;z-index: 1;position: relative;font-weight: bold;color: #fff;text-transform: uppercase;background: #000;padding: 0 4%;line-height: 1.7em;}
.searchBox .searchCont .searchButton{text-transform: uppercase;font-size: 1.18em;line-height: 2.65em;background: #b3adad;padding: 0 2%;border: 1px solid #818181;float:right;cursor:pointer; width:42.5%;color: #fff;font-weight: bold;}
.searchBox .searchCont .searchButton img{width: 1.40em;height: auto;vertical-align: middle;}

.headingText{padding:5% 0; text-align:center;}
.hotelInfoWrap .hotelInfo{background: #f4f1f1;padding: 2% 2.3% 2% 2.3%;}
.hotelInfoWrap .hotelInfo .name{font-size: 1.44em;font-family: "Avenir Book";font-weight: bold;line-height: 1.3em;}
.hotelInfoWrap .hotelInfo .address{font-size: 1.3em;color: #414141;font-family: "Avenir Light";line-height: 1.672em;}
.hotelInfoWrap .hotelInfo .mobile{font-size: 1.21em;color: #ff5651;font-family: "Avenir Book";line-height: 1.02em;}
.hotelInfoWrap .banner{position: relative;padding-bottom: 10px;}
.hotelInfoWrap .banner::before {content: "";position: absolute;top: 0;width: 100%;height: 9%;box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.8);-moz-box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.8);-webkit-box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.8);} 
.hotelInfoWrap .banner .bannerImg{width: 100%; height: auto;display: block;}
.hotelInfoWrap .banner .facebook, .hotelInfoWrap .banner .email, .hotelInfoWrap .banner .mobile{position: absolute;top:4%;right: 2%;z-index: 2;}
.hotelInfoWrap .banner .facebook{right: 30%;}
.hotelInfoWrap .banner .email{right: 16%;}
.hotelInfoWrap .banner .heartIcon{position: absolute;z-index: 1;bottom: 5%;left: 2%;}
.hotelInfoWrap .banner .heartIcon>img{width: 4.54em; height: auto;}
.hotelInfoWrap .banner .facebook>img, .hotelInfoWrap .banner .email>img, .hotelInfoWrap .banner .mobile>img{width: 3.58em;}
.hotelInfoWrap .hotelDetialFlexslider .flex-direction-nav a{width: 1.6em; height: 2.26em;}
.hotelInfoWrap .hotelDetialFlexslider .flex-prev{background: url(/images/prev.png) no-repeat;background-size: 1.6em 2.26em;}
.hotelInfoWrap .hotelDetialFlexslider .flex-next{background: url(/images/next.png) no-repeat;background-size: 1.6em 2.26em;}

.hotelInfoWrap .searchResult.fade{opacity:0.4;position: relative;}
.hotelInfoWrap .searchResult.fade:before{content: ''; z-index: 1; top: 0; bottom: 0; left: 0; right: 0; position: absolute;}
.hotelInfoWrap .priceTimeWrap{background: #ebebeb;display: table;box-sizing:border-box;width: 100%;padding: 0.2em;position: relative;}
.hotelInfoWrap .priceTimeWrap:after{content: '';position: absolute;border-style: solid;border-width: 1.2087em 0.58608em 0;border-color: #ebebeb transparent;display: block;width: 0;z-index: 1;bottom: -1.2087em;left: 50%;}
.hotelInfoWrap .priceTimeWrap .time {color: #000;font-size: 1.20em;font-weight: bold;font-family: 'verdana';display: table-cell;width: 69%;vertical-align: middle;}
.hotelInfoWrap .priceTimeWrap .time>span {vertical-align: middle;}
.hotelInfoWrap .priceTimeWrap .time > img {vertical-align: middle;padding: 0 0.5em 0 0.5em;width: 2.0em;}
.hotelInfoWrap .priceTimeWrap .time sup{font-size: 0.65em;bottom: 0.35em;}
.hotelInfoWrap .priceTimeWrap .price{display: table-cell;width: 30%;text-align: center;}
.hotelInfoWrap .priceTimeWrap .price .amount{font-size: 2.594em;font-family: 'verdana';font-weight: bold;display: block;}
.hotelInfoWrap .priceTimeWrap .price span{line-height: 1em;}

.hotelInfoWrap .eachResult{ background:#fff; border-bottom:0px; padding:2% 2% 3%;border-top: 1px solid #e7e7e7;position: relative;}
.hotelInfoWrap .eachResult.odd{ background:#f5f1f1;}
.hotelInfoWrap .eachResult .leftPart{ float:left; width:18.6%;}
.hotelInfoWrap .eachResult .leftPart img{ display:block; width:100%;}
.hotelInfoWrap .eachResult .leftPart .discount{background: #ff4a3e;color: #fff;border: 1px solid #f00;text-align: center;font-size: 1em;line-height: 4.39em;font-weight: bold;margin: 5% auto 0;border-radius: 50%;font-family: "Verdana";width: 4.39em;height: 4.39em;}
.hotelInfoWrap .eachResult .leftPart .discount span.price{ font-size:1.575em;}
.hotelInfoWrap .eachResult .rightPart{ float:right; width:78%;}
.hotelInfoWrap .eachResult .rightPart .heading{ font-size:1.38em; color:#3f3f3f; text-transform:uppercase; line-height:.8em; font-family: "Avenir Heavy"; padding: 0.35em 0; border-bottom:1px solid #b2adad;}
.hotelInfoWrap .eachResult .rightPart .heading span{ display:block; text-transform:none; line-height:1.22em; font-family: "Avenir";}
.hotelInfoWrap .eachResult .rightPart .hotelDetails { margin: 0.74em 0; font-family: "Verdana";}
.hotelInfoWrap .eachResult .rightPart .hotelDetails .title{ font-size:1.059em; color:#000;float: left;width: 50%;padding-bottom: 2%; text-transform:uppercase; font-weight:bold; line-height:1.33em;}
.hotelInfoWrap .eachResult .rightPart .hotelDetails .title span{ font-weight:normal; display:block;}
.hotelInfoWrap .eachResult .rightPart .hotelDetails .title span.time{color:#ff5b56;line-height:2.409em;font-weight: bold;}
.hotelInfoWrap .eachResult .rightPart .hotelDetails .title span.service{color:#616161;}
.hotelInfoWrap .eachResult .rightPart .hotelDetails .price{ font-size:1em; color:#000;float: right;text-align: right;width: 50%;  line-height:1.35em;  padding-bottom:2%;}
.hotelInfoWrap .eachResult .rightPart .hotelDetails .price span{ font-size:3.541em; line-height:1.176em; font-weight:bold;display: block;}
.hotelInfoWrap .eachResult .rightPart .hotelDetails .price span.from{font-size: 1.059em;font-weight: normal;}
.hotelInfoWrap .eachResult .rightPart .hotelDetails .price del{padding-right: 0.292em;}
.hotelInfoWrap .eachResult .leftPart ul{ display:block; margin:1em 0 0 1.2em; overflow:hidden;position: absolute;bottom: 1.111em;}
.hotelInfoWrap .eachResult .leftPart ul li{ display:block; float:left; width:1.8em; height:1.8em;}
.hotelInfoWrap .eachResult .leftPart ul li.icon1 { background: url("/images/mobile/i4_big.png") no-repeat left center; background-size:1.78em auto;}
.hotelInfoWrap .eachResult .leftPart ul li.icon2 { background: url("/images/mobile/i5_big.png") no-repeat left center; background-size:1.6em auto;}
.hotelInfoWrap .eachResult .leftPart ul li.icon3 { background: url("/images/mobile/i6_big.png") no-repeat left center; background-size:1.03em auto;}
.hotelInfoWrap .eachResult .rightPart .button{ display:block; background:#ff5b56; border:1px solid #fc0c05; font-size:1.234em; line-height:2em; color:#fff; text-transform:uppercase; text-align:center; padding:0; font-family: "Avenir Heavy";}
.hotelInfoWrap .eachResult .rightPart .button.grey{background:#b2adad; border:1px solid #666666;}

.hDetailTabs { background:#fff; border:none; font-size:1em;}
.hDetailTabs{ padding:0;}
.hDetailTabs .ui-tabs-nav{ padding:0;}
.hDetailTabs .ui-widget-header{ background:#fff; border:none;}
.hDetailTabs .ui-tabs-nav li{ margin:0 !important; border: medium none; margin-right: 0.4%; margin-top: 0; background:#e8e5e5 url(/images/mobile/tab_bg.png) repeat-x; width:49.5%;}
.hDetailTabs .ui-tabs-nav li:last-child { margin: 0;}
.hDetailTabs .ui-tabs-nav li.ui-tabs-active{ background:#fff;}
.hDetailTabs .ui-tabs-nav .ui-tabs-anchor{ font-family: "Verdana"; color:#ff5651; font-size:1.08em; padding:0; text-align:center; text-transform:uppercase; font-weight:normal; line-height:2.92em; display:block; width:100%;}
.hDetailTabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor{ font-weight:bold;}
.hDetailTabs .ui-tabs-panel{ padding:0; background:#fff;}

.hDetailTabs .mapCont .mapBanner{background: rgba(0,0,0,0.7); width: 100%;color: #fff;position: absolute;z-index: 2;}
.hDetailTabs .mapCont .mapBanner .lefttext{width: 25%; display: table-cell;background:url(/images/mobile/mapbanner-icon.png) center center  no-repeat;background-size: 5.201em;}
.hDetailTabs .mapCont .mapBanner .righttext{display: table-cell;width: 74.5%;box-sizing: border-box;padding: 1.4em 5%;}
.hDetailTabs .mapCont .mapBanner .righttext .headingTitle{font-size: 1.06em;font-family:verdana;text-transform: uppercase;line-height: 1.2em;margin-bottom: 0.5em;display: block}
.hDetailTabs .mapCont .mapBanner .righttext .headingTitle .star{color:#ff5b56;}
.hDetailTabs .mapCont .mapBanner .righttext .normaltext{font-size: 1em;display: block;line-height: 1.2em;}

.moreInfo p{color: #868686;line-height: 1.3em;}
.moreInfo ul {padding-bottom: 5%;}
.moreInfo ul li {padding-bottom: 2%;list-style: none;}
.moreInfo ul li span{color: #868686;display: inline-block;}
.moreInfo ul li span.text{width: 85%;}
.moreInfo ul li span.price{width: 13%;text-align: right;color:#000;}
.moreInfo#accordion{border:0;position: relative;}
.moreInfo#accordion .ui-state-default,.moreDetails#accordion .ui-widget-content .ui-state-default ,.moreDetails#accordion .ui-widget-header .ui-state-default{font-size: 1.28em !important;}
.moreInfo#accordion.ui-accordion .ui-state-active.ui-accordion-header{ font-weight:normal;}
.moreInfo#accordion.ui-accordion .ui-accordion-icons{padding: 0 2.3% 0 4%;font-family: "Avenir Book";color: #000;margin: 0;border-bottom: 1px solid #b2adad;border-top:1px solid #b2adad;line-height: 2em; margin-bottom: 5.5%;}
.moreInfo#accordion.ui-accordion .infoicon{width: 1.71em;float: left;position: absolute;left: 2%;top: 10%;}
.moreInfo#accordion.ui-accordion .ui-accordion-header .ui-accordion-header-icon{background: url(/images/mobile/plus-icon-circle.png) 0 0 no-repeat;height: 1.53em;left: auto;right: 0.8em;top: 11%;margin: 0;width: 1.64em;background-size: 1.595em 1.51em;}
.moreInfo#accordion.ui-accordion .ui-accordion-content{padding: 0 2.3%;border:none;}
.moreInfo .heading{font-size: 1.05em;line-height: 1.8em;color: #000;text-transform: uppercase;}
.moreInfo .heading.option{margin-top:1.2em;}
.moreInfo .shadowLine{width: 100%;position: relative;display: block;padding: 0 !important;margin: 0 !important;border-bottom:none !important;border-top:none !important;}
.moreInfo .shadowLine .ui-accordion-header-icon{background: none !important;}
.moreInfo .shadowLine:before{content: "";position: absolute;bottom: 0px;left: 0;width: 100%;display: block;height: 14px;box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.2);-moz-box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.2);-webkit-box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.2);}

.moreDetails .content .header{padding-top: 3.2%;float: left;}
.moreDetails .content .header .hotelname{float:left;width: 70%;font-family: "Avenir Book";}
.moreDetails .content .header .languages{float:right;width: 30%;text-align: right;}
.moreDetails .content .header .languages img{width: 2.87em;}
.moreDetails .content .header .languages img.languageUK{padding-left: 0.9em}
.moreDetails .content .header .hotelname .name{font-weight: bold;}
.moreDetails .content .header .hotelname .address{font-size:0.95em; display: block;font-family: verdana;line-height: 1.58em;}
.moreDetails .content .header .hotelname .mobile{font-size:1em; display: block;color: #ff5651;line-height: 1.58em;}
.moreDetails .content p{color: #616161;font-size: 0.87em;line-height: 1.72em;padding-top: 1.30em;text-align: justify;}
.moreDetails#accordion{border:0;}
.moreDetails#accordion .ui-state-default,.moreDetails#accordion .ui-widget-content .ui-state-default ,.moreDetails#accordion .ui-widget-header .ui-state-default{font-size: 1.35em !important;}
.moreDetails#accordion.ui-accordion .ui-state-active.ui-accordion-header{ font-weight:normal;}
.moreDetails#accordion.ui-accordion .ui-accordion-icons{padding: 0 2.3%;font-family: "Avenir Book";border: 1px solid #ff4a3e;border-radius: 0.3em;line-height: 2.3em;margin: 0.5em;color: #ff4a3e;}
.moreDetails#accordion.ui-accordion .ui-accordion-header.ui-accordion-header-active .ui-accordion-header-icon{background: url(/images/mobile/coseArrowBig.png) 0 0 no-repeat;height: 0.85em;top: 37%;margin: 0;left: auto;right: 0.7em;width: 1.22em;background-size: 1.19em auto;}
.moreDetails#accordion.ui-accordion .ui-accordion-header .ui-accordion-header-icon{background: url(/images/mobile/opencoseArrowBig.png) 0 0 no-repeat;width: 0.85em;height: 1.22em;top: 24%;margin:0; right: 0.8em;background-size: 0.85em auto;}
.moreDetails#accordion.ui-accordion .ui-accordion-content{padding: 0 2.3%;border:none;}
.moreDetails .amenitiesList li{width: 49.8%;float: left;list-style: none;font-size: 0.8em;color:#616161;font-family: verdana;line-height: 1.75em;}

.circleWrap{width: 65.5%;display: block; margin: auto;padding: 12% 0 8% 0;}
.circleWrap .circlebox{width: 100%;height: auto;background: #f4eeee;-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;padding-bottom: 100%;margin: auto;display: block;}
.circleWrap .circlecontent{float: left;width: 100%;padding-top: 37%;text-align: center;}
.circleWrap .circlecontent .heading{font-size: 2.14em;font-family: avenir black;color:#000;line-height: 2em;}
.circleWrap .circlecontent .normal{font-size: 2.11em;font-family: avenir light;color:#000;}
.circleWrap .circlecontent.oups{float: left;width: 100%;padding-top: 26%;text-align: center;}
.circleWrap .circlecontent.oups .heading{font-size: 3.796em;font-family: "Avenir Black";color:#000;line-height: 1.2em;}
.circleWrap .circlecontent.oups .normal{font-size: 2.4em;font-family: "Avenir Light";color:#000;line-height: 1em;}
.circleWrap .circlecontent.error404{float: left;width: 100%;padding-top: 29%;text-align: center;}
.circleWrap .circlecontent.error404 .heading{font-size: 3.395em;font-family: "Avenir Medium";color:#000;line-height: 0.9em;font-weight: bold;}
.circleWrap .circlecontent.error404 .normal{font-size: 4.5em;font-family: "Avenir Light";color:#000;line-height: 1em;}
.messagetext {padding-bottom: 10%;border-bottom: 1px solid #b2adad;}
.messagetext .heading{text-align: center;font-size: 1.37em; color:#000;line-height: 2em;font-family:"Avenir heavy";}
.messagetext .normal{text-align: center;font-size: 1.14em; color:#000;font-family:"Avenir";}
.messagetext.error404 .heading{text-align: center;font-size: 1.37em; color:#000;line-height: 1.2em;font-family:"Avenir heavy";}

.reservationPg {padding:2.44em 2.22em 2.88em; border-bottom:1px solid #b2adad;color: #000;}
.reservationPg .contractSteps{ padding-bottom:1em;}
.reservationPg .contractSteps .status{ width:100%; margin:0 auto;text-align: center;}
.reservationPg .contractSteps .status ul{ overflow:hidden; display:block;position: relative;}
.reservationPg .contractSteps .status ul:before{content: '';display: block;height: 0.072em;width: 71%;background: #ddd;position: absolute;top: 40%;left: 0;right: 0;margin: auto;z-index: 0;}
.reservationPg .contractSteps .status ul li{position: relative;z-index: 1;display:inline-block; padding:5.25em 0 0 0; background:url(/images/mobile/status_light.jpg) center top no-repeat;background-size: 4.85em auto; text-transform:uppercase; text-align:center; list-style:none; font-size:0.69em; color:#000; font-family: "Avenir Medium";}
.reservationPg .contractSteps .status ul li.dark{ background:url(/images/mobile/status_dark.jpg) center top no-repeat;background-size: 4.85em auto;}
.reservationPg .contractSteps .status ul li.middle{ margin: 0 5.47em 0 5.47em;}
.reservationPg .contractSteps .status ul li.last{ margin-right:0;}

.reservationPg .confirmType{padding-bottom: 1em;margin-top: 2em;}
.reservationPg .confirmType p.title{font-family: 'Avenir black';font-size: 1.135em;line-height: 1.722em;color:#000;}
.reservationPg .confirmType .CustomCheckbox { display:block;padding-bottom: 0.5em;}
.reservationPg .confirmType .CustomCheckbox li{ display:inline-block;margin-right: 1.2em; list-style:none; position:relative;}
.reservationPg .confirmType .CustomCheckbox li input{ visibility:hidden; height:0; width:0; position:absolute;}
.reservationPg .confirmType .CustomCheckbox li .checkboxItem {color: #000;font-family: "Avenir";font-size: 1.121em;line-height: 2.3em;background: url(/images/mobile/checkboxDesel.png) left top 31% no-repeat;display: block;background-size: 1.8em auto;padding-left: 2.1em;}
.reservationPg .confirmType .CustomCheckbox li .checkboxItem img{width: 3.13em;}
.reservationPg .confirmType .CustomCheckbox li .checkboxItem.active{ background-image:url(/images/mobile/checkboxSel.png);}
.reservationPg .confirmType .CustomCheckbox li .checkboxItem>div{font-family: 'Avenir black';font-size: 1.135em;line-height: 1.722em;color:#000;}

.reservationPg .confirmType .CustomRadioButton { display:block;padding-bottom: 0.5em;}
.reservationPg .confirmType .CustomRadioButton li{ display:inline-block;margin-right: 1.2em; list-style:none; position:relative;}
.reservationPg .confirmType .CustomRadioButton li input{ visibility:hidden; height:0; width:0; position:absolute;}
.reservationPg .confirmType .CustomRadioButton li .RadioButtonItem {color: #000;font-family: "Avenir";font-size: 1.121em;line-height: 2.3em;background: url(/images/mobile/checkboxDesel.png) left top 31% no-repeat;display: block;background-size: 1.8em auto;padding-left: 2.1em;}
.reservationPg .confirmType .CustomRadioButton li .RadioButtonItem img{width: 3.13em;}
.reservationPg .confirmType .CustomRadioButton li .RadioButtonItem.active{ background-image:url(/images/mobile/checkboxSel.png);}
.reservationPg .confirmType .CustomRadioButton li .RadioButtonItem>div{font-family: 'Avenir black';font-size: 1.135em;line-height: 1.722em;color:#000;}


.reservationPg .reservationResult{padding: 2.373em 0;}
.reservationPg .reservationResult .date, .reservationPg .reservationResult .service, .reservationPg .reservationResult .time{color: #ff5b56;font-size: 1.36em;line-height: 1.32em;}
.reservationPg .reservationResult .date{font-family: "Avenir"; }
.reservationPg .reservationResult .service{font-family: "Avenir Heavy";}
.reservationPg .reservationResult .time{font-family: "Avenir BookOblique"}

.reservationPg .pageTitle{display: block;color:#000; border-bottom: 0.072em solid #d6d6d6;font-family: "Avenir Light";text-align: center;margin-bottom: 1.425em;}
.reservationPg .pageTitle .title{display: block; font-size: 1.825em;line-height: 3em;text-transform: uppercase;}
.reservationPg .pageTitle .infotext{font-size: 1.36em;font-family: "Avenir Heavy"; line-height: 1.3em;display: block;margin-bottom: 1.425em;}
.reservationPg .hotelInfoPane {padding-bottom: 4.235em;}
.reservationPg .hotelInfo{width: 90%;}
.reservationPg .hotelInfo .name{font-size: 1.36em;font-family: "verdana";font-weight: bold;line-height: 1.3em;color:#000;display: inline-block;}
.reservationPg .hotelInfo .address{font-size: 1.36em;font-family: "verdana";line-height: 1.2em;color:#000;}
.reservationPg .hotelInfo .mobile{font-size: 1.36em;line-height: 1.02em;color:#000;}
.reservationPg .hotelInfo .Star{display: inline-block;}
.reservationPg .hotelInfo .Star img{float:left;width: 0.889em;}

.reservationPg .withoutLogin{ display:block; background:#ff564e; border:1px solid #ff0000; color:#fff; text-transform:uppercase; font-size:1.3em; font-family: "Avenir"; line-height:2.3em; padding:0; margin:0 0 2.05em; text-align:center;}
.reservationPg .submitBtn{ display:block; background:#ff564e; border:1px solid #ff0000; color:#fff; text-transform:uppercase; font-size:1.24em; font-family: "Avenir"; line-height:2.33em; padding:0; margin:0; text-align:center; width:55%;}
.reservationPg .submitBtn.grey {background: #b2adad;border:1px solid #666;}
.reservationPg .submitBtn.nextstep{width: 100%; margin-top: 4.635em;background: #f00;}
.reservationPg .overlayPane.generate{background: #f00;}
.reservationPg .overlayPane.generate:before{content: '';display: inline-block;width: 100%;height: 100%;position: absolute;}
.reservationPg .fromBox{ border:1px solid #000; padding:0.814em 1.37em 1.37em; margin:0 0 2.59em;}
.reservationPg .fromBox .heading{ font-family: "Avenir Heavy"; color:#000; font-size:1.31em; line-height:1.33em; margin:0; padding:0;padding-bottom: 0.7em;}
.reservationPg .fromBox .textBox{ font-size:1.08em; line-height:1.3em; color:#000; padding:4%; width:92%; border:1px solid #000; border-radius:.22em; margin-bottom:1.06em; font-family: "Avenir";}
.reservationPg .fromBox textarea{font-size: 1.08em;line-height: 1.3em;color: #000;padding: 4%;width: 92%;border: 1px solid #000;border-radius: .22em;height: 6em; margin-bottom: 1.06em;font-family: "Avenir";}
.reservationPg .fromBox .customeSelect{ width:33%; float:left;}
.reservationPg .fromBox .textBox.cellPhone{ float:right; width:55%;}
.reservationPg .fromBox .textBox.cardnmber{float:right; width: 32%;}
.reservationPg .fromBox .ui-selectmenu-button{ border-radius:.3em; font-size:1em;margin-bottom: 1.06em;}
.reservationPg .fromBox .arrival + .ui-selectmenu-button{width: 10.72em !important;}
.reservationPg .fromBox .month + .ui-selectmenu-button{width: 6.78em !important;margin-bottom: 2.98em;}
.reservationPg .fromBox .year + .ui-selectmenu-button{width: 6.78em !important;margin-bottom: 2.98em;}
.reservationPg .fromBox .findus + .ui-selectmenu-button{width: 100% !important;}
.reservationPg .fromBox .ui-selectmenu-button span.ui-selectmenu-text{ font-size:1.08em; line-height:1em; color:#000; font-family: "Avenir"; font-weight:normal;padding: 1.12em 1.2em 1.10em 0.9em;}
.reservationPg .fromBox .ui-selectmenu-button span.ui-icon{ background:url(/images/mobile/downArrow2.png) no-repeat; width:0.95em; height:.822em; background-size:.95em auto; margin-top:-.4em;}
.reservationPg .fromBox.red {border:1px solid #ff5651; color:#ff5651;} 
.reservationPg .fromBox.red .textBox{ border:1px solid #ff5651; color:#ff5651;margin-bottom: 0;}
.reservationPg .fromBox.red .textBox + .error{font-size: 1em;line-height: 2em;display: block;margin-bottom: 1.06em;}
.reservationPg .fromBox.red .heading{color:#ff5651;}
.reservationPg .fromBox.red .textBox::-webkit-input-placeholder {color: #ff5651;}
.reservationPg .fromBox.red .textBox:-moz-placeholder { /* Firefox 18- */color: #ff5651;  }
.reservationPg .fromBox.red .textBox::-moz-placeholder {  /* Firefox 19+ */color: #ff5651; }
.reservationPg .fromBox.red .textBox:-ms-input-placeholder {  color: #ff5651; }
.ui-selectmenu-menu .ui-state-hover, .ui-selectmenu-menu .ui-widget-content .ui-state-hover, .ui-selectmenu-menu .ui-widget-header .ui-state-hover, .ui-selectmenu-menu .ui-state-focus, .ui-selectmenu-menu .ui-widget-content .ui-state-focus, .ui-selectmenu-menu .ui-widget-header .ui-state-focus{ font-weight:normal;}
.ui-selectmenu-menu .ui-menu .ui-menu-item{ padding:0.3em 1em; font-size:.9em;}
.reservationPg .fromBox .bookfaster{padding: 2.55em 0 3.66em 0}
.reservationPg .headingTitle{padding: 2.921em 0 1.132em 0;border-top: 1px solid #d9d9d9;font-size: 1.369em;font-family: "Avenir Book";}

.reservationPg .moreService{border-top: 1px solid #d8d8d8;padding-top: 1.460em;}
.reservationPg .moreService .heading{font-size: 1.369em; font-family: "Avenir Book";padding-bottom: 0.5em;line-height: 1.5em;white-space: nowrap;}
.reservationPg .moreService .checkbox{ display:block;}
.reservationPg .moreService .checkbox li{ display:block; list-style:none; position:relative;}
.reservationPg .moreService .checkbox li input{ visibility:hidden; height:0; width:0; position:absolute;}
.reservationPg .moreService .checkbox li .checkboxItem {color: #000;font-family: "Avenir";font-size: 1.121em;line-height: 1em;background: url(/images/mobile/checkboxDesel.png) left top no-repeat;display: block;background-size: 1.8em auto;padding: 0.4em 0 1em 2.1em;}
.reservationPg .moreService .checkbox li .checkboxItem .price{font-weight: bold; font-family: "Avenir Black";display: block;line-height: 1.5em;}
.reservationPg .moreService .checkbox li .checkboxItem .warranty{font-weight: bold; font-family: "Avenir Black";display: block;line-height: 1.5em;text-transform: uppercase;}
.reservationPg .moreService .checkbox li .checkboxItem.active{ background-image:url(/images/mobile/checkboxSel.png);}
.reservationPg .moreService .sumtotal{font-family: "Avenir Black"; font-size: 1.369em;border-top: 1px solid #000; text-transform: uppercase; color:#000;margin: 0.913em 0 0 0;padding: 1.460em 0 2.373em 0;}

.reservationPg .CustomRadioButton.cardspayment { display:block;}
.reservationPg .CustomRadioButton.cardspayment  li{ display:inline-block;margin-right: 1.2em; list-style:none; position:relative;}
.reservationPg .CustomRadioButton.cardspayment  li input{ visibility:hidden; height:0; width:0; position:absolute;}
.reservationPg .CustomRadioButton.cardspayment  li .RadioButtonItem {color: #000;font-family: "Avenir";font-size: 1.121em;line-height: 1.3em;background: url(/images/mobile/checkboxDesel.png) left top 31% no-repeat;display: block;background-size: 1.8em auto;padding-left: 2.1em;}
.reservationPg .CustomRadioButton.cardspayment  li .RadioButtonItem img{width: 3.13em;}
.reservationPg .CustomRadioButton.cardspayment  li .RadioButtonItem.active{ background-image:url(/images/mobile/checkboxSel.png);}

.validationpg{}
.reservationPg.mesvalidation{padding: 2.44em 2.22em 2.44em;}
.reservationPg.mesvalidation .pageTitle{margin: 0;}
.validationpg .reservation{ margin:2.44em 0 2.48em;}
.validationpg .seprator{width: 100%; height: 0.072em;border-top: 1px solid #000;margin:2.0773em 0 2.773em 0;display: inline-block;}
.validationpg .title {font-family: "Avenir Light";padding: 0 0 1.132em 0;font-size: 1.369em;text-transform: uppercase;}
.validationpg .reservation .normal{ font-family: "Avenir Book"; color:#000; font-size:1.15em; line-height:1.33em; margin:0 0 1.33em;}
.validationpg .reservation .normal .bold{font-family: "Avenir Heavy";}
.validationpg .reservation .normal .italic{font-family: "Avenir HeavyOblique";}
.validationpg .reservation .normal .small{ font-size:.86em; line-height:1.33em;}
.validationpg .reservation .grayButton{font-family: "Avenir Light"; color:#fff; font-size:1.29em; line-height:1.98em; background:#b2adad; border:2px solid #666; display:block; text-align:center; text-transform:uppercase; width:45%;}
.validationpg .reservation .textBox {font-size: 1.08em;line-height: 1.3em;color: #000;padding: 4%;width: 92%;border: 1px solid #000;border-radius: .22em;margin-top: 0.12em;font-family: "Avenir";}
.validationpg .reservation .textBox.code {width: 8.91em;}
.validationpg .checkbox{ display:block;padding-left: 1em;}
.validationpg .checkbox li{ display:inline-block; list-style:none; position:relative;width: 44%;}
.validationpg .checkbox li input{ visibility:hidden; height:0; width:0; position:absolute;}
.validationpg .checkbox li .checkboxItem {color: #000;font-family: "Avenir";font-size: 1.121em;line-height: 1.3em;background: url(/images/mobile/checkbox.jpg) 0 0 no-repeat;background-size: 1.24em auto; display: block;padding-left: 2.1em;}
.validationpg .checkbox li .checkboxItem.active{ background:url(/images/mobile/checkbox-check.jpg) 0px 0px no-repeat;background-size: 1.24em auto;}
.validationpg .checkbox li+li{width: 52%;}

.validationpg .submitBtn{display: block;background: #ff564e;border: 1px solid #ff0000;color: #fff;text-transform: uppercase;font-size: 1.22em;font-family: "Avenir";line-height: 2em;padding: 0;margin: 0;text-align: center;}
.validationpg .submitBtn{display: inline-block;width: 8.2em;margin: 1em 0 0 0}
.validationpg .submitBtn.white{background: #fff;color: #000; border:1px solid #000;}
.validationpg .resendBtn.white{background: #fff;color: #000;border: 1px solid #000;display: inline-block;text-align: center;margin: 0.4em 0;font-family: 'Arial Heavy';font-size: 1.08em;width: 6.17em;line-height: 1.8em;}

.formGroup{width: 88.6%;display: block;margin: auto;}
.formGroupWrap{border-bottom: 1px solid #b2adad;padding-bottom: 3.45em;}
.formGroup .tcenter{text-align: center;}
.formGroup .small{ font-size:.86em; line-height:1.33em;}
.formGroup .submitBtn{display: block;background: #b2adad;border: 1px solid #666666;color: #fff;text-transform: uppercase;font-size: 1.22em;font-family: "Avenir Medium";line-height: 2.55em;padding: 0;margin: 0;text-align: center;}
.formGroup .submitBtn.ok{width: 10em;margin: 1.0em auto 1.4em;}

.mescontact {padding: 3.46em 5.7%;display: block;margin: auto; border-bottom: 1px solid #b2adad;}
.mescontact .textBox {font-size: 1.08em;line-height: 1.3em;color: #000;padding: 4%;width: 92%;border: 1px solid #000;border-radius: .22em;margin-top: 1.06em;font-family: "Avenir";}
.mescontact .comment {font-size: 1.08em;height: 10em;line-height: 1.3em;color: #000;padding: 4%;width: 92%;border: 1px solid #000;border-radius: .22em;margin-top: 1.06em;font-family: "Avenir";}
.mescontact .heading {font-size: 1.86em;font-family: "Avenir Light"; color:#000;line-height: 1.71em;text-align: center;padding-bottom: 1em;margin-bottom: 1em;border-bottom: 1px solid #b2adad;}
.mescontact .captcha {width: 42%; float: right;margin-top: 1.06em;}
.mescontact .captcha img{width: 10.83em;}
.mescontact .submitBtn{display: block;background: #b2adad;border: 1px solid #666666;color: #fff;text-transform: uppercase;font-size: 1.22em;font-family: "Avenir Medium";line-height: 2.55em;padding: 0;margin: 0;text-align: center;}
.mescontact .submitBtn.send{width: 10em;margin: 2.23em auto 0;}
.mescontact .headingSmall {font-size: 1.46em;font-family: "Avenir Heavy"; color:#000;}
.mescontact .textBox.captchatext{width: 42%;}
.mescontact .contactTab{border:0;}
.mescontact .contactTab .ui-tabs-panel{padding: 3.3em 0 0 0;}
.mescontact .contactTab .ui-tabs-nav{padding: 0;background: #fff;border: 0;}
.mescontact .contactTab .ui-tabs-nav .ui-tabs-anchor{padding: 0;width: 100%;color: #000;line-height: 2.146em;font-size: 0.9em;}
.mescontact .contactTab .ui-tabs-nav .ui-state-default{display: block;width: 100%;border:1px solid #000;text-align: center;background: #fff;margin-bottom: .73em;}
.mescontact .contactTab .ui-tabs-nav .ui-state-default.ui-state-active{background: #000;}
.mescontact .contactTab .ui-tabs-nav .ui-state-default.ui-state-active .ui-tabs-anchor{color:#fff;}

#selected_services .price{float: right; font-family: "Avenir Heavy";}
#selected_services_confirm .price{float: right; font-family: "Avenir Heavy";}
#arrival_time_select-menu {height: 220px;}

.ui-datepicker .ui-state-hover , .ui-datepicker .ui-state-focus{ background:#000; border:1px solid #000;color:#fff !important;}
.ui-widget-content{ border:none; padding:0;}
.ui-datepicker td { border: 1px solid #bbb; padding: 0;}
.ui-datepicker .ui-state-default, .ui-datepicker .ui-widget-content .ui-state-default, .ui-datepicker .ui-widget-header .ui-state-default{ border:none; color:#666;line-height: 1.8em; font-size: 0.75em; text-align:center;}
.ui-datepicker .ui-priority-secondary, .ui-datepicker .ui-widget-content .ui-priority-secondary,.ui-datepicker .ui-widget-header .ui-priority-secondary{ color:#b4b3b3; font-weight:bold;}
.ui-datepicker .ui-state-active, .ui-datepicker .ui-widget-content .ui-state-active, .ui-datepicker .ui-state-highlight{background: #000; color:#fff;}
.ui-datepicker .ui-state-default.ui-state-highlight{background: #999;}
.ui-datepicker  .ui-state-default.ui-state-highlight.ui-state-active{background: #000;}
.ui-datepicker .ui-widget-content .ui-state-active,.ui-datepicker .ui-widget-header .ui-state-active{ background:#fff;}
.ui-datepicker table{margin:0;box-shadow: 0px 2px 3px #ccc;}
.ui-datepicker th { background: #f4f4f4; border: 0 none; color: #666666; font-size: 0.8em; font-weight: normal; padding: 0.3em 0; text-align: center;}
.ui-datepicker tbody tr:last-child td{border-bottom: 0px;}
.ui-datepicker table tr td:first-child{border-left:none;}
.ui-datepicker table tr td:last-child{border-right:none;}
.ui-datepicker td span, .ui-datepicker td a{padding:5px;font-family: arial;color:#ccc;}

.customselect2Wrap{position: relative;}
.customselect2Wrap span.ui-icon-triangle-1-s{background: url(/images/mobile/downArrow2.png) no-repeat; width: 0.95em; height: .822em; background-size: .95em auto; position: absolute; right: 8%; top: 1.3em;}
.customselect2Wrap span.box{border-radius: 3px; border: 1px solid #b4b4b4; display: block; padding: 1em 1.2em 0.94em 0.9em; font-size: 1.08em; line-height: 1em; color: #000; font-family: 'Avenir'; font-weight: normal; text-align: left; background: #fff;}
.customselect2Wrap .customselect2{  position: absolute; top: 0; left: 0; width: 100%; min-height: 100%;  outline: 0; -webkit-border-radius: inherit; border-radius: inherit; -webkit-appearance: none; -moz-appearance: none; cursor: pointer; filter: Alpha(Opacity=0); opacity: 0; z-index: 2;}